<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/head'); %>
  <body>
    <%- include('../../partials/navigation'); %>

    <div class="container my-container">
      <div class="jumbotron">
        <h1>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem
          veniam perferendis
        </h1>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, eum,
          illum dolores eos dolore quas iusto sapiente consectetur molestiae
          corrupti, et numquam quod delectus excepturi. Sequi doloremque vero
          quibusdam culpa.
        </p>
      </div>
    </div>

    <%- include('../../partials/footer'); %>
  </body>
</html>
