<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/head'); %>
  <body>
    <%- include('../../partials/navigation'); %>
     <div class="container">
       <%- include('../../partials/alert')  %>
    </div>

    <div class="container my-container my-5">
      
       <h1 class="display-1 text-center">Create Profile</h1> 
    </div>

    <%- include('../../partials/footer'); %>
  </body>
</html>
