<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/head'); %>
  <body>
    <%- include('../../partials/navigation'); %>
    <%- include('../../partials/alert')  %>

    <div class="container my-container my-5">
      
       <h1 class="display-1 text-center">Welcome to Your DashBoard</h1> 
    </div>

    <%- include('../../partials/footer'); %>
  </body>
</html>
