<!DOCTYPE html>
<html lang="en">
  
    <%- include('../partials/head'); %>
 
  <body class="container">
    <%- include('../partials/navigation'); %>
  
      <div class="jumbotron">
        <h1>Looking good</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, eum,
          illum dolores eos dolore quas iusto sapiente consectetur molestiae
          corrupti, et numquam quod delectus excepturi. Sequi doloremque vero
          quibusdam culpa.
        </p>
      </div>

    <%- include('../partials/footer'); %>
  </body>
</html>
